<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Server=fredcorp.cc;Port=63304;userid=bovelo;password=bovelo2022;Database=bovelo" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>